<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>🍲 Смачні Нотатки</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="header">
    <div class="header__inner">
      <%= link_to "🍲 Смачні Нотатки", root_path, class: "header__logo" %>
      <%= link_to "+ Додати рецепт", new_post_path, class: "btn btn--primary" %>
    </div>
  </header>

  <main class="main">
    <% if notice.present? %>
      <div class="flash flash--notice"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="flash flash--alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </main>

</body>
</html>
